<!-- staticのファイル読み込み-->
{% load staticfiles %}
<!-- 画像ファイルのロード-->
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" /> <!-- ← 追加 -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/common-layout.css' %}" /> <!-- ← 追加 -->
</head>
<html>
{% include 'imgapp/header.html' %}
<body>
<title>画像編集入力フォーム</title>
<div class="row">
  <div class="col-md-8">
    <p>
      ご利用ありがとうございました。
    </p>
    <div class="button-area">
      <ul class="nav">
        <li>
          <a class="ok" href="{% url 'imgapp:index' %}">トップ画面へ</a>
        </li>
      </ul>
    </div>
  </div>
  {% include 'imgapp/sidebar.html' %}
</div>
</body>
{% include 'imgapp/footer.html' %}
</html>
