<!-- staticのファイル読み込み-->
{% load staticfiles %}
<!-- 画像ファイルのロード-->
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" /> <!-- ← 追加 -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/common-layout.css' %}" /> <!-- ← 追加 -->
</head>
</head>
<html>
{% include 'imgapp/header.html' %}
<body>
<title>画像編集</title>
<div class="row">
  <div class="col-md-8">
    <div class="main">
      <img vspace="5px" hspace="5px" width="60%" height="60%" src="{% static "img/recog_face.jpg" %}" alt="recognition-face">
      <p>
        当サイトは機械学習のアルゴリズムを利用して、あなたの持っている写真を簡単に加工してくれます。
      </p>
      <img vspace="5px" hspace="5px" width="60%" height="60%" src="{% static "img/testdog_gray.jpg" %}" alt="gray-dog">
      <p>
        <a class="edit gray" href="{% url 'imgapp:upload' %}?cvt_param={{ "gray"|urlencode }}">グレースケール画像を作る</a>
      </p>
      <img vspace="5px" hspace="5px" width="60%" height="60%" src="{% static "img/monodog_monochrome.jpg" %}" alt="monochrome-dog">
      <p>
        <a class="edit monochrome" href="{% url 'imgapp:upload' %}?cvt_param={{ "monochrome"|urlencode }}">モノクロ画像を作る</a>
      </p>
      <img vspace="5px" hspace="5px" width="60%" height="60%" src="{% static "img/sutehage3_mosaic.jpg" %}" alt="mosaic-sutehage">
      <p>
        <a class="edit mosaic" href="{% url 'imgapp:upload' %}?cvt_param={{ "mosaic"|urlencode }}">顔モザイク画像を作る</a>
      </p>
      <img vspace="5px" hspace="5px" width="60%" height="60%" src="{% static "img/salary_man_convolute.jpg" %}" alt="conv-man">
      <p>
        <a class="edit convolute" href="{% url 'imgapp:upload' %}?cvt_param={{ "convolute"|urlencode }}">ぼかし画像を作る</a>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    {% include 'imgapp/sidebar.html' %}
  </div>
</div>
</body>
{% include 'imgapp/footer.html' %}
</html>
