<!-- staticのファイル読み込み-->
{% load staticfiles %}
<!-- 画像ファイルのロード-->
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" /> <!-- ← 追加 -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/common-layout.css' %}" /> <!-- ← 追加 -->
</head>
<html>
{% include 'imgapp/header.html' %}
<body>
<title>画像編集プレビューフォーム</title>
<div class="row">
  <div class="col-md-8">
    <h2>プレビューフォーム</h2>
      <h3> {{ item.description }}</h3>
      <img width="70%" src="{{ item.img.url }}"/>
      <h3> {{ item.description }} をグレー化した画像</h3>
      <img width="70%" src="{{ item.edittedImg.url }}"/>
      <br>
      <a href="{{ item.edittedImg.url }}" download="{{ item.edittedImg.description }}">ダウンロード(jpeg)</a>
    <br>
    <a class="" href="{% url 'imgapp:upload' %}">戻る</a>
    <br>
    <a class="" href="{% url 'imgapp:complete' %}">OK</a>
  </div>
  <div class="col-md-4">
    {% include 'imgapp/sidebar.html' %}
  </div>
</div>
</body>
{% include 'imgapp/footer.html' %}
</html>
