<!-- staticfilesのロード-->
{% load staticfiles %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/common-layout.css' %}" /> <!-- ← 追加 -->
</head>
<div class="col-md-4 side">
  <div class="sidebar">
    <h2>利用ライブラリ・フレームワーク</h2>
    <ul>
      <li><a href="https://docs.opencv.org/2.4/">OpenCV</a></li>
      <li><a href="https://docs.djangoproject.com/ja/2.1/">Django</a></li>
    </ul>
    <p>
    created by <a href="https://twitter.com/tonbi00080">@tonbi0080</a>
    </p>
  </div>
</div>
