<!-- staticのファイル読み込み-->
{% load staticfiles %}
<!-- 画像ファイルのロード-->
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" /> <!-- ← 追加 -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/common-layout.css' %}" /> <!-- ← 追加 -->
</head>
<html>
{% include 'imgapp/header.html' %}
<body>
<title>画像編集入力フォーム</title>
<div class="row">
  <div class="col-md-8">
    <div>
      <h2>画像アップロードフォーム</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form">
          <p>編集タイプ：{{ param.cvt_type }}</p>
          {{ form.as_p }}
        </div>
        <div class="button-area">
          <ul class="nav">
            <li>
              <a class="return" href="{% url 'imgapp:index' %}">戻る</a>
            </li>
            <li>
              <button type="submit">アップロード</button>
            </li>
        </div>
      </form>
    </div>
  </div>
  {% include 'imgapp/sidebar.html' %}
</div>
</body>
{% include 'imgapp/footer.html' %}
</html>
